<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo" [class.is_collapse]="isCollapsed">
      <img [hidden]="isCollapsed" src="assets/image/logo/logo.png" alt="logo" />
      <img [hidden]="!isCollapsed" height="auto" width="43" src="assets/image/logo/logo-xs.svg" alt="logo-xs" />
    </div>
    <div class="side-bar-select" [class.side-bar-select-small]="isCollapsed" style="text-align: center">
      <nz-select ngModel="Siniestros" [nzDropdownStyle]="{ border: '2px solid #4490fa' }">
        <nz-option nzCustomContent nzLabel="Siniestros" nzValue="Siniestros"><div>Siniestros</div></nz-option>
        <nz-option nzCustomContent nzLabel="Polizas" nzValue="Polizas"> <div>Polizas</div></nz-option>
        <nz-option nzCustomContent nzLabel="Parametrización" nzValue="Parametrización">
          <div>Parametrización</div></nz-option
        >
        <nz-option nzCustomContent nzLabel="Seguridad" nzValue="Seguridad"> <div>Seguridad</div></nz-option>
      </nz-select>
    </div>
    <ul class="menu" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li routerLink="/"  nz-menu-item nzSelected>
        <i nz-icon nzType="icons:home"></i>
        <span>Inicio</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="icons:users"></i>
        <span>Reclamos de Terceros</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="icons:truck"></i>
        <span>Automotores</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="icons:danger"></i>
        <span>Reclamos de Terceros</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="icons:building"></i>
        <span>Daños a Instalaciones</span>
      </li>
      <li nz-menu-item style="margin-bottom: 75%">
        <i nz-icon nzType="icons:atr"></i>
        <span>Daños Patrimoniales</span>
      </li>

      <li nz-menu-item class="setting" routerLink="administracion"   nzMatchRouter [class.is-collapse]="isCollapsed">
        <i nz-icon nzType="icons:setting"></i>
        <span>Configuración</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div fxLayout="row" style="height: inherit; width: 100%">
          <div fxFlex="50%" fxLayoutAlign="start center" class="search-box">
            <nz-input-group style="width: 264px" nzAddOnAfterIcon="search">
              <input style="height: 32px" type="text" nz-input [placeholder]="'COMMON.KEYWORD_SEARCH' | translate" />
            </nz-input-group>
          </div>
          <div fxFlex="50%" fxLayoutAlign="end center" fxLayoutGap="5px">
            <nz-badge [nzCount]="5">
              <button nz-button nzType="primary" nzShape="circle">
                <i nz-icon nzType="icons:bell"></i>
              </button>
            </nz-badge>

            <button style="margin-right: 24px; margin-left: 11px" nz-button nzType="primary" nzShape="circle">
              <i nz-icon nzType="icons:calendar"></i>
            </button>
            <img style="margin-right: 5px" src="assets/image/nav-bar/avatar.png" alt="avatar" height="45" width="45" />

            <div class="avatar" fxLayout="column">
              <strong>{{ user }}</strong>
              <span> {{ rol }}</span>
            </div>
            <i nz-icon nzType="down" nzTheme="outline"></i>
          </div>
        </div>
        <button
          class="header-trigger"
          [class.closed]="isCollapsed"
          (click)="isCollapsed = !isCollapsed"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="circle">
          <i nz-icon nzType="icons:arrow-left"></i>
        </button>
        <!--        <span class="header-trigger" >-->
        <!--          <i nz-icon nzType="icons:arrow-left"></i>-->
        <!--        </span>-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
